body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#course-meeting {
  position: absolute;
  bottom: 0;
  
}

#spacer{
  width: 200px;
  height: 140px;
  margin-right: 0px;
}

header.App-header{
  height: 1%;
  min-height: 0px;
}

#banner-image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* outline: white dashed 2px; */
}

/* TermPage */
div.btn-group {
  text-align: center;
  display: flex;
  justify-content: center;
  float: left;
  padding-inline-end: 65%;
}

/* CourseList */
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  align-items: stretch;
}

/* Course */
.course {
  background-color: lemonchiffon;
  color: green;
  flex-grow: 1;
}
.course-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


#term-shedule-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-inline-end: 25%; */
}

#schedule-btn {
  /* margin-left: 65%; */
}

.pop-up{
  color: black;
}

.selected {
  background-color: lemonchiffon;
  color: green;
  pointer-events: none;
}

#modal-course-info {
  margin-left: 5%;
  margin-bottom: 3%;
}

.conflict {
  background-color: lightgray;
  color: darkgray;
  flex-grow: 1; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.form-group{
  color: black;
  font-size: medium;
}

.mb-3{
  color: black;
}