body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#course-meeting {
  position: absolute;
  bottom: 0;
}

#banner-image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* outline: white dashed 2px; */
}

/* TermPage */
div.btn-group {
  text-align: center;
  display: flex;
  justify-content: center;
  float: left;
}

/* CourseList */
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Course */
.course {
  background-color: lemonchiffon;
  color: green;
}

#term-shedule-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#schedule-btn {
  margin-left: 60%;
}

.pop-up{
  color: black;
}

.selected {
  background-color: lemonchiffon;
  color: green;
}

#modal-course-info {
  margin-left: 5%;
  margin-bottom: 3%;
}